body {
    background-color: rgb(138, 58, 11);
    color: white;
}

@font-face {
    font-family: tung;
    src: url(RubikBubbles-Regular.ttf);
}

@font-face {
    font-family: boldT;
    src: url(Saira-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: boldI;
    src: url(EduNSWACTCursive-VariableFont_wght.ttf);
}

h1 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    font-family: tung;
    text-decoration: underline;
    background-color: rgb(189, 116, 48);
}

p {
    text-align: center;
    font-size: xx-large;
    font-family: boldI;
}

.tung {
    text-align: center;
}

.steak {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    font-family: boldI;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-family: boldI;
}

.chicken {
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 25px;
    font-family: boldI;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(189, 116, 48);
    display: flex;
    font-family: boldT;
    justify-content: center;
}

ul li a {
    display: block;
    color: aliceblue;
    padding: 10px 28px;
    text-decoration: none;
}

ul li a:hover {
background-color: rgb(221, 135, 65);
}
